%table.board
  %thead
    %tr
      %td.header
      - @game.columns.each do |col|
        %td.header
          .header_label=col
      
  %tbody
    -@game.rows.each do |row|
      %tr
        %td.header
          .header_label=row
        -@game.columns.each do |col|
          %td
            - if @game.has_cell_been_guessed col, row
              - if @game.get_guess_at(col, row).is_hit
                .peg.hit
              -else
                .peg.miss
            - else
              .cell_label=link_to("#{col + row}", guesses_path(game_id: @game, guess_value: @game.get_cell_value(col, row)), :method => :post)


